registry=https://registry.design-system.shop/

@design-system:registry=https://registry.design-system.shop/
//registry.design-system.shop/:_authToken=ODYwOWQzZmUzNDMyZWVhZDc2Y2IxYmQ1YWFiMTZiYWU6ZDg5Y2NjMGVkYzgxNDFmOWIxYzYyZDQ4ZTM5YTgx
